{% set site = include_dict.site %}
{% set page = include_dict.page %}
<ul class="store__nav-items">
    {% for key, item in site.data.category %}
        {% set isCurrentPage = page.title == item.title %}
        {% set isActive = true if isCurrentPage else false %}
        <li class="store__nav-item">
            <a {% if item.url %}href="{{ item.url | relative_url }}"{% endif %} {{ classNames('store__nav-item-link', {'store__nav-item-link--active': isActive}) }}>
                {{ item.title }}
            </a>
        </li>
    {% endfor %}
</ul>